### PA2, Clay Jackson, Version 1, CS-150 Spring 2023

In [1]:
number1=int(input("Enter an integer: "))

Enter an integer: 100

In [2]:
number2=float(input("Enter a floating-point number: "))

Enter a floating-point number: 55.5

In [3]:
print("The sum is",number1+number2)

The sum is 155.5

In [4]:
print("The difference is", number1-number2)

The difference is 44.5

In [5]:
print("The product is",number1*number2)

The product is 5550.0

In [6]:
print("The quotient is", number1/number2)

The quotient is 1.8018018018018018

In [7]:
print("The type for the result is",type(number1/number2) )

The type for the result is <class 'float'>